{% extends 'WEB/base.html' %}
<!-- prettier-ignore -->
{% block content %}

<div class="hero_image_container per40">
	<img
		class="user-pic-big"
		src="{{ user.account.picture.url }}"
		alt=""
		width="250px"
		height="250px"
	/>
</div>
<div class="account-content">
	<div class="dashboard-left">
		<p><strong>{{request.user}}</strong></p>
		<p><strong>{{request.user.email}}</strong></p>
		<p>Contact us @</p>
		<p><strong>customer.support@instamerch.in</strong></p>

		<a href="/" class="api-ref">API Reference</a>
		<a href="{% url 'logout' %}" class="logout-button">LOGOUT</a>
	</div>
	<div class="dashboard-right">
		<div class="credits">Credits : 380</div>
		{% block account-content %} {% endblock account-content %}
	</div>
</div>
<!-- prettier-ignore -->
{% endblock content %}
