{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>InstaMerch</title>
		<link rel="stylesheet" href="{% static 'css/main.css' %}?version=1" />
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
		/>
	</head>
	<body>
		<div class="navbar">
			<div class="link_container">
				<div class="logo">
					<a class="no-style" href="/"> InstaMerch </a>
				</div>
				{% if not user.is_authenticated %}
				<div class="left_links">
					<a href="{% url 'login' %}" class="navlinks no-style login"
						>Login</a
					>
					<a href="{% url 'register' %}" class="navlinks signup"
						>Sign Up
					</a>
				</div>
				{% else %}
				<div class="left_links">
					<a href="/" class="navlinks no-style login">Orders</a>
					<a href="/" class="navlinks no-style login">Cart</a>
					<a href="{% url 'logout' %}" class="navlinks no-style login"
						>Logout</a
					>
					<!-- prettier-ignore -->
					<a href="/" class="navlinks no-style">
						<img
							class="avatar"
							src="{{user.account.picture.url }}"
							alt="{{user.account.picture}}"
						/>
					</a>
				</div>
				{% endif %}
			</div>
		</div>
		{% block content %}{% endblock content %}
	</body>
</html>
