{% extends 'WEB/account_base.html' %}
<!-- prettier-ignore -->
{% block header %}
<div class="header">
	My Cart {% if total == 0 %} {% else %}
	<em style="font-weight: 400 !important"
		>Total: ₹&nbsp{{total |stringformat:"i"|slice:":-2"}}</em
	>
	{% endif %}
</div>

<!-- prettier-ignore -->
{% endblock header %}

<!-- prettier-ignore -->
{% block account-content %}

<div class="cart">
	{% if items %}

	<!-- prettier-ignore -->
	{% for item in items %}

	<div class="cart-item">
		<div class="details">
			<a href="/design/{{item.id}}" class="no-style">
				<h3 class="no-margin">{{item}}</h3>
			</a>
			<p>Designer : <strong>{{item.account}}</strong></p>
			<p>
				Category :
				<strong>{{item.category}}</strong>
			</p>
			<div class="space-apart">
				<p class="no-margin">
					Price :
					₹&nbsp{{item.category.price|stringformat:"i"|slice:":-2"}}
				</p>
				<a href="/remove-from-cart/{{item.id}}" class="no-style">
					<i class="fa fa-trash fa-1x" color="white"></i>
				</a>
			</div>
		</div>
		<div class="image">
			<a href="/design/{{item.id}}" class="no-style">
				<img
					class=""
					src="{{item.picture.url}}"
					alt="{{item.name}}"
					width="120px"
					height="120px"
				/>
			</a>
		</div>
	</div>

	{% endfor %}

	<select name="address" id="address">
		{% for address in addresses %}
		<option value="{{address.id}}">
			{{address.name}},{{address.address_line1}}
		</option>
		{% endfor %}
	</select>

	<div class="cart-checkout-button-container">
		<a
			href="/cart-checkout/{{addresses.0.id}}"
			id="checkoutBtn"
			class="cart-checkout-button"
			>Checkout</a
		>
	</div>

	{% else %}
	<h1>No Items in Cart Yet</h1>
	{% endif %} {% comment %}
	<script>
		checkoutBtn = document.getElementbyId(checkoutBtn)

		checkoutBtn.addEventListener('click',function() {
			document.getElementbyId(address);
			.href = '/cart-checkout/' + ;
		})
	</script>
	{% endcomment %}
</div>
<!-- Hi -->
<!-- prettier-ignore -->
{% endblock account-content %}
