{% extends 'WEB/account_base.html' %} {% load static %}
<!-- prettier-ignore -->
{% block header %}

<div class="header">My Dashboard</div>

<!-- prettier-ignore -->
{% endblock header %}

<!-- prettier-ignore -->
{% block account-content %}
<div class="dashboard">
	<div class="dashboard-vertical">
		<div class="dashboard-horizontal">
			<a href="{% url 'cart' %}" class="no-style">
				<div class="inner-box">
					<i class="fa fa-shopping-cart fa-2x" aria-hidden="true"></i>
					<p>Go to Cart</p>
				</div>
			</a>
		</div>
		<div class="dashboard-horizontal">
			<a href="{% url 'orders' %}" class="no-style">
				<div class="inner-box">
					<i class="fa fa-credit-card fa-2x" aria-hidden="true"></i>
					<p>Go to Orders</p>
				</div>
			</a>
		</div>
		<div class="dashboard-horizontal">
			<a href="{% url 'manage-addresses' %}" class="no-style">
				<div class="inner-box">
					<i
						class="fa fa-address-card-o fa-2x"
						aria-hidden="true"
					></i>
					<p>Manage Saved Addresses</p>
				</div>
			</a>
		</div>
	</div>
	<div class="dashboard-vertical">
		<div class="dashboard-horizontal">
			<a href="{% url 'my-designs' %}" class="no-style">
				<div class="inner-box">
					<img
						src="{% static 'images/shirt.svg' %}"
						alt="Designs"
						width="30px"
						height="30px"
					/>
					<p>My Designs</p>
				</div>
			</a>
		</div>
		<div class="dashboard-horizontal">
			<a href="{% url 'post-design' %}" class="no-style">
				<div class="inner-box">
					<i class="fa fa-plus fa-2x" aria-hidden="true"></i>
					<p>POST DESIGN</p>
				</div>
			</a>
		</div>
		<div class="dashboard-horizontal">
			<a href="/" class="no-style">
				<div class="inner-box">
					<i class="fa fa-cog fa-2x" aria-hidden="true"></i>
					<p>Account Settings</p>
				</div>
			</a>
		</div>
	</div>
</div>
<!-- prettier-ignore -->
{% endblock account-content %}
