{% extends 'WEB/base.html' %} {% block content %}
<div class="hero_image_container 50-percent"></div>

<div class="design_detail">
	<div class="right">
		<img
			src="{{design.picture.url}}"
			alt="{{design}}"
			width="350px"
			class="round-image"
		/>
		<div class="purchase-buttons">
			<a href="/add-to-cart/{{ design.id }}" class="cart-buttons"
				>ADD TO CART</a
			>
			{% if user.is_authenticated %}
			<a
				href="/purchase/{{design.id}}"
				class="cart-buttons"
				id="submitBtn"
			>
				PURCHASE
			</a>
			{% else %}
			<a href="{% url 'login' %}" class="cart-buttons" id="submitBtn">
				LOGIN TO PURCHASE
			</a>
			{% endif %}
		</div>
	</div>
	<div class="left">
		<h1>{{design}}</h1>
		<h3 class="designer">
			Designer:
			<a
				class="designer-name"
				style="color: #3b5998; text-decoration: underline"
				href="/designs/{{design.account}}"
				>{{design.account.user.first_name}}
				{{design.account.user.last_name}}</a
			>
		</h3>
		<h3 class="designer">
			Category:
			<a
				class="designer-name"
				style="color: #3b5998; text-decoration: underline"
				href="/category/{{design.category.id}}"
				>{{design.category.name}}</a
			>
		</h3>
		<h3>
			Price:₹&nbsp{{ design.category.price|stringformat:"i"|slice:":-2" }}
		</h3>
	</div>
</div>
{% endblock content %}
