{% extends 'WEB/base.html' %} {% load static %} {% block content %}

<div class="hero_image_container"></div>

<div class="content-block">
	<div class="content-header">Latest Collections</div>
	<div class="content-body">
		{% for design in designs %}
		<a class="content-product" href="/">
			<div class="product-img">
				<img
					src="{{ design.picture.url }}"
					alt="design"
					width="200px"
					height="200px"
				/>
			</div>
			<div class="product-description">
				<div class="name">{{design}}</div>
				<div class="price">₹&nbsp{{design.category.price}}</div>
			</div>
		</a>
		{% endfor %}
	</div>

	<div class="content-header">Featured Collections</div>
	<div class="content-body">
		{% for design in designs %}
		<a class="content-product" href="/">
			<div class="product-img">
				<img
					src="{{ design.picture.url }}"
					alt="design"
					width="200px"
					height="200px"
				/>
			</div>
			<div class="product-description">
				<div class="name">{{design}}</div>
				<div class="price">₹&nbsp{{design.category.price}}</div>
			</div>
		</a>
		{% endfor %}
	</div>

	<div class="content-header">Best Sellers</div>
	<div class="content-body">
		{% for design in designs %}
		<a class="content-product" href="/">
			<div class="product-img">
				<img
					src="{{ design.picture.url }}"
					alt="design"
					width="200px"
					height="200px"
				/>
			</div>
			<div class="product-description">
				<div class="name">{{design}}</div>
				<div class="price">₹&nbsp{{design.category.price}}</div>
			</div>
		</a>
		{% endfor %}
	</div>
</div>
{% endblock content %}
