{% extends 'WEB/base.html' %} {% block content %}

<div class="auth-background">
	<h1 class="form-header">SIGNUP</h1>

	<form method="post" action="{% url 'register' %}" class="register-form">
		{% csrf_token %} {% if form.errors %}
		<p>{{ form.errors }}</p>
		{% endif %}
		<p>{{ form.username }}</p>
		<p>{{ form.email }}</p>
		<p>{{ form.first_name }} {{ form.last_name }}</p>
		<p>{{ form.password1 }}</p>
		<p>{{ form.password2 }}</p>
		<input type="submit" value="Register" class="register-button" />
	</form>

	<div class="oauth-links">
		<a href="{% url "social:begin" "google-oauth2" %}" class="google-btn">Google</a>
		<a href="{% url "social:begin" "google-oauth2" %}" class="facebook-btn">Facebook</a>
	</div>
	
	<script>
		var form_fields = document.getElementsByTagName('input');
		form_fields[3].placeholder = 'Username';
		form_fields[3].autocomplete = 'off';
		form_fields[3].className += 'form-field';
		form_fields[4].placeholder = 'Email';
		form_fields[4].autocomplete = 'off';
		form_fields[4].className += 'form-field';
		form_fields[5].placeholder = 'First Name';
		form_fields[5].className += 'form-field small';
		form_fields[6].placeholder = 'Last Name';
		form_fields[6].className += 'form-field small';
		form_fields[7].placeholder = 'Password';
		form_fields[7].className += 'form-field';
		form_fields[8].placeholder = 'Confirm Password';
		form_fields[8].className += 'form-field';
	</script>
	
</div>
{% endblock content %}
