@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100;1,300;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,100;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');
html,
body {
	margin: 0;
	padding: 0;
	height: 100vh;
}

a.no-style {
	text-decoration: none !important;
	color: black !important;
}

/* Hero Image */

.hero_image_container {
	position: relative;
	width: 100%;
	height: 60%;
	background-image: url('/static/images/Hero_image.png');
	background-position: -40%;
	background-repeat: no-repeat;
	background-size: cover;
}

/* navbar */

.navbar {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;
	width: 100%;
}

.logo {
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	font-size: 24px;
}

.link_container {
	margin: 20px 40px 20px 40px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.left_links {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.navlinks {
	padding: 10px;
	margin-left: 20px;
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	font-size: 12px;
}

.signup {
	background-color: black;
	width: 80px;
	text-align: center;
	border-radius: 5px;
	color: white !important;
	text-decoration: none !important;
}

.avatar {
	vertical-align: middle;
	width: 40px;
	height: 40px;
	border-radius: 50%;
}

/* Home Content */

.content-block {
	display: flex;
	flex-direction: column;
	flex: 1;
}

.content-header {
	align-self: center;
	font-family: 'Montserrat', sans-serif;
	font-weight: normal !important;
	font-size: 30px;
	padding: 20px;
}

.content-body {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	font-family: 'Montserrat';
	flex-wrap: wrap;
}

.content-product {
	margin: 10px;
	width: 250px;
	height: 270px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	background-color: #dddddd;
}

.product-description {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

/* LOGIN PAGE */

.auth-background {
	background-image: url('/static/images/Background.png');
	background-size: cover;
	height: 100vh;
	width: 100vw;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	overflow: scroll;
}

/* Register Page */

.form-header {
	color: black;
	font-family: 'Architects Daughter', cursive;
	text-align: center;
	font-size: 50px;
}

.register-form {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.register-button {
	background-color: black;
	color: white;
	font-family: 'Architects Daughter', cursive;
	width: 30vw;
	height: 7vh;
	margin: 40px 0 0 0;
	font-size: 30px;
	border-radius: 20px;
}

.form-field {
	text-align: center;
	font-family: 'Architects Daughter', cursive;
	width: 40vw;
	height: 7vh;
	border: none;
	font-size: 30px;
	border-radius: 20px;
}

.errorlist {
	color: red;
}

input:focus {
	border: none;
}

/* Design Detail Page */

.design_detail {
	display: flex;
	flex-direction: row;
	padding: 40px;
}

.right {
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.round-image {
	width: 300px;
	height: 300px;
	border-radius: 50%;
	margin: 40px;
}

.left {
	flex: 0.5;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.purchase-buttons {
	width: 60%;
	display: flex;
	flex-direction: row;
}

.cart-buttons {
	flex: 0.8;
	margin: 10px;
	height: 30px;
	font-family: 'Architects Daughter', cursive;
	text-align: center;
	font-size: 20px;
	background-color: black;
	border-radius: 5px;
	color: white !important;
	text-decoration: none !important;
}

/* Footer */

.footer {
	margin-top: 30px;
	display: flex;
	background-color: #aaaaaa;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	height: 30vh;
}

.logo {
	font-family: 'Roboto', sans-serif;
}

.links {
	display: flex;
	flex-direction: row;
	width: 40%;
	justify-content: space-evenly;
}

/* Hide scollbars */

*::-webkit-scrollbar {
	display: none;
}

* {
	-ms-overflow-style: none;
	scrollbar-width: none;
}
